body {
    background-color: coral;
}
.navigation {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 75px;
    width: 100%;
}


.list{
    position: relative;
    display: flex;
    flex-direction: row;
    background: transparent;
    justify-content: space-between;
    border-radius: 75px;
    //z-index: -2;

}

.list-element {
    list-style: none;
    font-size: 2rem;
    padding: 1.5rem 5rem;
    font-weight: 600;
    margin: 1rem 0;
    z-index: 10;
}

.selector {
    position: absolute;
    padding: 3rem 12rem;
    background-color: lime;
    border-radius: 75px;
    top: 10%;
    z-index: 2;
    left: 10px;

}

.animate {
    animation-name: select;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes select {
    0% {
        left: 10px;
    }
    50%{
        left: 33%;
    }
    100%{
        left: 70%;
    }
}

#ball {
    width: 50%;
}


